name: Appimage
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 7 1/14 * *"
  workflow_dispatch:

jobs:
  build:
    name: "${{ matrix.name }} (${{ matrix.arch }})"
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - runs-on: ubuntu-latest
            name: "ares build"
            arch: x86_64
          - runs-on: ubuntu-24.04-arm
            name: "ares build"
            arch: aarch64
    container: ghcr.io/pkgforge-dev/archlinux:latest
    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      CCACHE_COMPILERCHECK: content
      CCACHE_SLOPPINESS: time_macros
      SCCACHE_GHA_ENABLED: "true"
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up ccache for ${{ matrix.arch }}
      uses: actions/cache@v4.3.0
      with:
        path: ${{ env.CCACHE_DIR }}
        key: ${{ runner.os }}-ccache-release-${{ matrix.arch }}-${{ github.sha }}
        restore-keys: |
              ${{ runner.os }}-ccache-release-${{ matrix.arch }}-
              
    - name: set up sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9
      
    - name: Get dependencies
      if: always()
      run: chmod +x ./get-dependencies.sh && ./get-dependencies.sh

    - name: Make AppImage
      run: chmod +x ./ares-appimage.sh && ./ares-appimage.sh
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: AppImage-${{ matrix.arch }}
        path: 'dist'
        
    - name: Upload version file
      uses: actions/upload-artifact@v4.6.2
      with:
       name: version
       path: ~/version
       overwrite: true
    
  release:
      if: ${{ github.ref_name == 'main' }}
      needs: [build]
      permissions: write-all
      runs-on: ubuntu-latest

      steps:
        - uses: actions/download-artifact@v5.0.0
          with:
            name: AppImage-x86_64

        - uses: actions/download-artifact@v5.0.0
          with:
            name: AppImage-aarch64

        - uses: actions/download-artifact@v5.0.0
          with:
            name: version
  
        - name: Read version and Get date
          run: |
            echo "VERSION=$(cat version)" >> "${GITHUB_ENV}"
            echo "DATE=$(date +'%Y-%m-%d_%s')" >> "${GITHUB_ENV}"

        - name: Release Artifacts
          uses: softprops/action-gh-release@v2.4.2
          with:
            name: "ares: ${{ env.VERSION }}"
            tag_name: "${{ env.VERSION }}@${{ env.DATE }}"
            prerelease: false
            draft: false
            generate_release_notes: false
            make_latest: true
            files: |
              *.AppImage*
